body{
    background-color:papayawhip;
    
}
h3{
    background-color:burlywood;
    text-align: center;
    padding: 7px;
}
h1{
    font-family: cursive;
    font-size: 35px;
    text-align: center;
    
}
p{
    text-align: center;
}